// @import '../node_modules/codyhouse-framework/main/assets/css/base';

:root {
  --primary-color: #2cb27c;
  --secondary-color: #525d6d;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 9fr 3fr 0.5fr;
}

#root {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

#portal {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.03);
  color: #ffffff;
  flex-direction: column;
  text-align: center;
  padding: 2rem;

  // > div * {
  //   color: #ffffff;
  // }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  h1 {
    color: #ffffff;
  }
}

button {
  font-size: 1rem;
  padding: 0.8em 1.2em;
  color: #ffffff;
  background-color: var(--primary-color);
  border: none;
  font-weight: bold;
  border-radius: 20rem;
  min-width: 9rem;
  margin: 1.5rem;

  &.secondary {
    background-color: var(--secondary-color);
  }

  &:active {
    transform: translateY(1px);
  }
}

header.main {
  padding-top: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.4s ease-out;
  transform: translateY(-2rem);
  opacity: 0;

  &.visible-true {
    transform: translateY(0);
    opacity: 1;
  }

  ul {
    display: flex;
    justify-content: center;
  }

  li {
    a {
      color: inherit;
      text-decoration: none;
      display: inline-block;
      padding: 0.5em;
    }
  }
}
